<div class="page-header">
  <h2>
    <%= controller.action_name.capitalize %> <%= t ".model" %>
    <%= link_to raw("<i class='icon-upload icon-white'></i> Manage Photos"), administration_model_path(@model), class: "btn btn-success pull-right" %>
  </h2>
</div>
<%= render :partial => 'form' %>
