<h1>/Model</h1>

<p>
  <b>Name</b><br>
  <%= @model.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', administration_models_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_administration_model_path(@model), :class => 'btn' %>
  <%= link_to 'Delete', administration_model_path(@model), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
