<div class="hero-unit bulles">
  <h1>About Us</h1>
  <hr />
  <div class="row">
    <div class="span6 justify">
      <p>
        Uburanga modeling agency: is a local Rwandan modeling agency
        which is very proud to present extremely professional models and
        search ethically for talented new faces around the country for
        advertising and fashion modeling. It strives to develop the fashion
        indusrty in Rwanda and in the East Africa and to expand the carreers
        of many local models to a global status.
      </p>
    </div>
  </div>
  <br />
  <blockquote>
    Do not go where the path may lead; go instead where there is no path
    and leave a trail. 
    <small>Ralph Waldo Emerson</small>
  </blockquote>
</div>
