<div class="hero-unit">
  <h1>Contact us</h1>
  <hr />
  <div class="row">
    <div class="span2">
      <address>
        <strong>Uburanga modeling Agency</strong><br />
        Kigali Rwanda,<br />
        PoBox 1088
      </address>
    </div>
    <div class="span3">
      <dl class="dl-horizontal">
        <dt>Cell:</dt>
        <dd>+ 250 785151455</dd>
        <dt>&nbsp;</dt>
        <dd>+ 250 784061280</dd>
      </dl>
    </div>
  </div>
</div>
