<div class="hero-unit">
  <div class="container">
    <div class="span4 offset1 justify">
      <h3>
        <!--<i class="icon-star valign-bottom"></i>-->
        Open Call for New Talent</h3>
      <dl>
        <dt>Mondays [except holidays]</dt>
        <dd>From 2:30 - 4:00 pm</dd>
      </dl>
      <h3>What are we looking for?</h3>
      <dl>
        <dt>Women + New Faces</dt>
        <dd>Age: +13</dd>
        <dd>Height: 5'.8" - 5'.11"</dd>
      </dl>
      <dl>
        <dt>Men</dt>
        <dd>Age: 15+</dd>
        <dd>Height: 5'.11" - 6'.3"</dd>
        <dd>Height requirements are for print and runway</dd>
      </dl>
      <dl>
        <dt>Also</dt>
        <dd>Photographers</dd>
        <dd>Hair & makeup artists</dd>
        <dd>Stylists</dd>
        <dd><%= mail_to "contact@arianemodelagency.rw", "Contact us here", :encode => "hex" %></dd>
        <dd></dd>
      </dl>
      <dl>
        <dd>Now accepting kids 3 years old and up</dd>
        <dd>Submissions by email ONLY:</dd>
        <dd><%= mail_to "contact@arianemodelagency.rw", "Another contact email", :encode => "hex" %></dd>
        <dd>Please send at least 4 pictures along with height and clothing size</dd>
      </dl>
    </div>
    <div class="span4">

      <h3>In Person</h3>
      <dl>
        <dd>Bring current snapshots,</dd>
        <dd>Polaroids and/or portfolio.</dd>
      </dl>
      <dl>
        <dd>Dress casual, please.</dd>
        <dd>Natural with light or no make-up.</dd>
      </dl>
      <h3>By Email</h3>
      <dl>
        <dt>Email submissions to:</dt>
        <dd><%= mail_to "info@arianemodelagency.rw", "Yet Another Contact Email", :encode => "hex" %></dd>
        <dd></dd>
      </dl>
      <dl>
        <dt>Natural lighting, </dt>
        <dd><strong>Light or no make-up</strong>,</dd>
        <dd>Face and body.</dd>
        <dd></dd>
      </dl>
      <dl>
        <dd>JPEG format only, other formats</dd>
        <dd>will not be viewed.</dd>
      </dl>
      <h3>By Regular Mail</h3>
      <ul class="unstyled">
        <li>
      <address>
      <strong>Ariane Model Agency</strong><br />
      attn: Submissions <br />
      166 Geary Suite 1400<br />
      San Francisco, CA 94108<br />
    </address>
</li>
      <li><strong>Please mail us copies of your photos <br />as they will not be returned.</strong></li>
</ul>
    </div>
  </div>
</div>
